@import "vars";
@import "mixin";

body {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-size: $font-normal;
  // color: $font-color;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(#d88c9b, 0.7)),
    url(../images/main-bg.jpg);
  background-size: contain;
  background-position: 50%;
  background-attachment: fixed;
  color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.blind {
  display: none;
}
#popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    .contents {
      width: 400px;
      height: 300px;
      padding: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      color: #000;
    }
    .btns {
      display: flex;
      button {
        cursor: pointer;
        height: 50px;
        background-color: #000;
        color: #fff;
        flex-basis: 50%;
        box-sizing: border-box;
      }
      .btnOneday {
        background-color: #fff;
        color: #000;
        border: 2px solid #000;
      }
    }
  }
}

#header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#eee, 0.8);
  width: 100%;
  position: relative;
  #logo {
    font-size: 20px;
    a {
      display: block;
      width: 150px;
      height: 100px;
      .img {
        width: 100%;
        height: 100%;
        background-image: url("../images/logo01.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        transition: all 0.2s ease;
      }
      &:hover {
        .img {
          background-image: url("../images/logo02.png");
        }
      }
    }
  }
}
.headerListBox {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  .headerListTitle {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 2px solid #fff;
    // background-color: rgba(#d88c9b, 0.5);
    background-color: rgba(#f16f89, 0.5);
    cursor: pointer;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    strong {
      font-weight: 500;
      font-size: 18px;
      color: #333;
    }
  }
  .headerList {
    width: 100%;
    border: 2px solid #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      display: block;
      width: 100%;
      height: 50px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
      &:hover {
        color: #fff;

        background-color: rgba(#f16f89, 0.5);
      }
    }
  }
  &:hover {
    .headerList {
      display: flex;
      border-top: none;
    }
  }
}

#contents {
  padding: 50px 0;
  width: 1200px;
  margin: 0 auto;
  position: relative;

  .title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;

    &.mainTitle {
      letter-spacing: 1rem;
      strong {
        color: #f16f89;
        font-weight: 700;
        letter-spacing: 0.2rem;
        font-size: 60px;
      }
    }
  }
  .insertBtn {
    position: absolute;
    // top: 18%;
    // right: 18%;
    display: flex;
    top: 50px;
    right: 0;
    a {
      font-weight: 700;
      font-size: 16px;
      font-family: "Noto Sans KR";
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      width: 120px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.8);
      border: 4px solid #fff;
      color: #333;
      border-radius: 10px;
      transition: all 0.15s ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
      }
    }
    .material-icons {
      font-size: 20px;
    }
  }

  #filter {
    margin-bottom: 20px;
    .filterList {
      display: flex;
      justify-content: center;
      li {
        border: 2px solid #eee;
        border-radius: 5px;
        width: 25%;
        height: 50px;
        font-size: 20px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.8);
        color: #111;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.1s ease;
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
          color: #fff;
        }
        &.on {
          background-color: #f16f89;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  .inner {
    display: flex;
    justify-content: space-evenly;

    .mainBox {
      width: 500px;
      height: 500px;
      // margin: 0 auto;
      border: 5px solid #fff;
      border-radius: 20px;
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      color: #111;

      .txtBox {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: relative;
        padding: 0 30px;
        word-break: keep-all;
        h2 {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 30px;
          line-height: 1.3;
          strong {
            color: #f16f89;
          }
        }
        p {
          line-height: 1.3;
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
      .btnLink {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 300px;
        height: 50px;
        font-size: 20px;
        font-weight: 500;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        border: 2px solid #fff;
        border-radius: 10px;
        transition: all 0.2s ease;
        &:hover {
          bottom: 55px;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    #loginBox {
      width: 500px;
      border: 5px solid #fff;
      padding: 0 30px;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.7);
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      height: 500px;
      margin: 0;
      .loginBoxLogo {
        width: 150px;
        height: 150px;
        background-image: url("../images/logo_favi.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        margin-top: 10px;
      }
      .inputBox {
        width: 100%;
        label {
          display: block;
          .label {
            color: #666;
          }
          input {
            width: 100%;
          }
        }
      }
      #btnLogin {
        font-family: "Noto Sans KR";
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 100px;
        height: 50px;
        background-color: #666;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
      }
      .loginSuccess {
        color: #111;
        margin: 50px 0;
        strong {
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
  }

  .btns {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    a {
      font-family: "Noto Sans KR";
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      width: 100px;
      height: 50px;
      background-color: #666;
      border: 1px solid #fff;
      color: #fff;
      border-radius: 10px;
    }
  }

  .myPage {
    padding: 60px 0;
    width: 500px;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    .infoBox {
      font-size: 18px;
      display: flex;
      padding: 20px;

      .label {
        font-weight: 500;
        width: 100px;
        border-right: 1px solid #999;
        margin-right: 20px;
      }
    }
  }
  .blogList {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px 0;
    border-radius: 10px;
    li {
      width: 25%;
      padding: 2px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      .img {
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .txt {
        padding: 0 20px;
        color: #111;
        .blogTitle {
          font-size: 18px;
          margin-top: 20px;
          @include ellipsis();
        }
        .date,
        .userName {
          text-align: right;
          margin: 10px 0;
          font-size: 14px;
        }
      }
    }
  }
  .musicList {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px 0;
    border-radius: 10px;
    .musicItem {
      width: 25%;
      padding: 2px;
      border-radius: 5px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      a {
        pointer-events: none;
      }
      .img {
        position: relative;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
        .playTime {
          position: absolute;
          right: 5px;
          bottom: 5px;
          background-color: rgba(0, 0, 0, 0.8);
          padding: 5px;
          border-radius: 5px;
        }
      }
      .txtBox {
        padding: 10px 10px 20px 10px;
        color: #333;
        .musicTitle {
          @include multiEllipsis(2, 1.3);
          // height: 50px;
          margin-bottom: 10px;
          font-weight: 700;
        }
        .dateTime {
          text-align: right;
          padding: 5px;
          font-size: 14px;
          font-weight: 700;
        }
      }
      .detailVideo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: center;
        display: none;
        z-index: 1;
        .videoClose {
          position: absolute;
          top: 15%;
          text-decoration: underline;
          font-size: 18px;
        }
        .video {
          position: absolute;
          width: 70%;
          height: 50%;
        }
        &.open {
          display: flex;
        }
      }
    }
  }
}

form {
  background-color: rgba(255, 255, 255, 0.6);
  color: #111;
  width: 600px;
  margin: 0 auto;
  color: #111;
  border-radius: 20px;
  border: 4px solid #fff;
  .inputBox {
    padding: 15px 30px;
    border-bottom: 1px solid #ccc;

    label {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      .label {
        display: flex;
        width: 100px;
        font-weight: 500;
        margin-right: 10px;
        text-transform: uppercase;
      }
      input[type="text"],
      input[type="password"],
      input[type="number"],
      select {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px;
        width: 200px;
        height: 50px;
        outline: none;
        margin-right: 5px;
      }

      #title,
      #date,
      #desc {
        flex-grow: 1;
      }

      .categoryList {
        text-transform: uppercase;
        font-weight: 500;
        ul {
          display: flex;
          margin-bottom: 0;
          li {
            margin-right: 20px;
            span {
              margin-right: 5px;
            }
          }
        }
      }
    }
    .desc {
      padding: 20px 0 0 150px;
    }
    #btnZipCode,
    #btnIdCheck {
      padding: 10px;
      border: none;
      height: 50px;
      border-radius: 5px;
    }
    .genderBox {
      display: flex;
      > div {
        display: flex;
        align-items: center;
        input {
          width: 20px;
          height: 20px;
          margin: 5px 10px;
        }
      }
    }

    .fileSearch {
      width: 130px;
      height: 50px;
      background-color: #f16f89;
      color: #ccc;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      .material-icons {
        margin-left: 5px;
      }
    }
    input[type="file"] {
      width: 0;
      height: 0;
      position: absolute;
      overflow: hidden;
      padding: 0;
      border: none;
    }
    // input[type="text"]
    .file {
      height: 10px;
      width: calc(100% - 110px);
      border: 1px solid #ccc;
      padding: 0 15px;
      display: flex;
      flex-grow: 1;
      color: #111;
      box-sizing: border-box;
      user-select: none;
    }

    #userJob {
      width: 200px;
      height: 50px;
      font-weight: 500;
      padding: 5px;
    }
  }

  .formBtns {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    button {
      width: 150px;
      height: 50px;
      margin: 0 15px;
      border-radius: 20px;
      border: 2px solid #ccc;
      font-size: 16px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .red {
      background-color: rgb(136, 42, 42);
      color: #fff;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// .table {
//   display: table;
//   width: 100%;
//   table-layout: fixed;
//   padding-bottom: 100px;
//   .head {
//     display: table-header-group;
//     background-color: #ddd;
//     span {
//       display: table-cell;
//       border-top: 1px solid #333;
//       text-align: center;
//       padding: 20px 0;
//       font-weight: 700;
//     }
//   }
//   .body {
//     display: table-row-group;
//     width: 100%;
//     > li {
//       display: table-row;
//       width: 100%;
//       .column {
//         display: table-cell;
//         padding: 20px 0;
//         text-align: center;
//         border-bottom: 1px solid #d9d9d9;
//         vertical-align: middle;
//       }
//       .subject {
//         text-align: left;
//         &:hover {
//           text-decoration: underline;
//           color: #00f;
//         }
//       }
//     }
//   }
// }

#footer {
  display: flex;
  justify-content: center;
  width: 300px;
  font-weight: 500;
  font-size: 10px;
  background-color: #111;
  padding: 5px 0;
  margin: 20px auto;
  border-radius: 20px;
  align-items: center;
  p {
    margin-bottom: 0;
  }
}

@media all and(max-width:1200px) {
  #contents {
    width: 100%;
    padding: 100px 20px;
  }
}
