<%- include("include/header");%>

<main id="main">
  <div id="contents">
    <h2 class="title"><%= title %></h2>
    <div class="insertBtn randomBtn">
      <a href="/musicList"><span class="material-icons"> shuffle </span>RANDOM</a>
    </div>
    <!-- <div class="close"><span class="material-icons"> cancel </span></div> -->
    <ul class="musicList">
      <!-- <div></div> -->
    </ul>

    <!-- <iframe src="http://www.youtube.com/embed/fXjdkWP2kaM" frameborder="0"></iframe> -->
  </div>
</main>
<script>
  // let apikey = "AIzaSyDjHlSZzZHZzJghpeo4Kxv0waYgZ2Nv640";
  // let keyword = randomSearch;
  const musicList = $("#contents .musicList");

  let randomNum = Math.floor(Math.random() * (11 - 1) + 1);
  // ===============랜덤페이지=============

  const randomData = ["citypop", "시티팝", "일본 시티팝", "한국 시티팝"];
  function randomValueFromArray(array) {
    const random = Math.floor(Math.random() * array.length);
    return array[random];
  }
  let randomSearch = randomValueFromArray(randomData);
  // ===============랜덤검색어=============

  $(".musicList").on("click", ".musicItem", function () {
    $(this).toggleClass("open");
    console.log($(this));
    // $(this).addClass("open").siblings().removeClass("open");
    // $(this).toggleClass("open");
    // if ($(this).hasClass("open")) {
    //   $(this).on("click", function () {
    //     $(this).removeClass("open");
    //     // console.log($(this).parents());
    //   });
    // }

    // $(this).on("click", function () {
    //   if ($(this).hasClass("open")) {
    //     $(this).parents(".musicItem").removeClass("open");
    //     console.log($(this).parents(".musicItem"));
    //   }
    // });
  });

  // 이벤트위임===================
  //----------------------youtube 검색결과
  // $.ajax({
  //   url: "https://www.googleapis.com/youtube/v3/search",
  //   type: "get",
  //   dataType: "json",
  //   data: { part: "snippet", key: apikey, q: keyword, maxResults: 100, type: "video", videoEmbeddable: "true" },
  // }).done(function (response) {
  //   console.log(response);
  //   const youtubeList = response.items;
  //   let tempHtml = "";
  //   $.each(youtubeList, function (idx, item) {
  //     thumbnail = item.snippet.thumbnails.medium.url;
  //     videoId = item.id.videoId;
  //     tempHtml += `<li class="musicItem">
  //         <a href="https://www.youtube.com/watch?v=${videoId}">
  //           <div class="img"><img src="${thumbnail}" alt="thumbnail"/></div>
  //             <span class="musicTitle">${item.snippet.title}</span>
  //         </a>

  //       </li>`;
  //   });
  //   musicList.html(tempHtml);
  // });

  // function v_link(videoId) {
  //   location.href = `https://www.youtube.com/watch?v=${videoId}`;
  // }
  $.ajax({
    url: "https://dapi.kakao.com/v2/search/vclip",
    headers: {
      Authorization: "KakaoAK 1124f949dc2e28f83bf07baca1342758",
    },
    data: {
      type: "get",
      size: 20,
      query: randomSearch,
      page: randomNum,
    },
  }).done(function (response) {
    // console.log(response);
    // console.log(response.documents);
    console.log(randomSearch);
    console.log(randomNum);
    const searchItem = response.documents;
    let tempHtml = "";
    $.each(searchItem, function (idx, item) {
      const date = dayjs(item.datetime, "YYYY-MM-dd");
      // --------------날짜 디스플레이변경
      const totalSeconds = item.play_time;
      const seconds = totalSeconds % 60;
      const mins = Math.floor(totalSeconds / 60) % 60;
      const hours = Math.floor(totalSeconds / 60 / 60) % 24;
      const dateHours = hours < 10 ? "0" + hours : hours;
      const dateMins = mins < 10 ? "0" + mins : mins;
      const dateSeconds = seconds < 10 ? "0" + seconds : seconds;
      // -----------재생시간 디스플레이 변경

      const itemUrl = item.url;
      const itemUrl02 = itemUrl.replace("http://www.youtube.com/watch?v=", "");

      tempHtml += `<li class="musicItem">
          <a href=""  >
            <div class="img"><img src=" https://img.youtube.com/vi/${itemUrl02}/mqdefault.jpg" alt="thumbnail"/>
              <p class="playTime">${dateHours}:${dateMins}:${dateSeconds}</p></div>
              <div class="txtBox">
              <div class="musicTitle">${item.title}</div>
              <p class="dateTime">${date.format("YYYY / MM / DD")}</p>
                </div>
          </a>
          <div class="detailVideo" >
              <iframe class="video" src="http://www.youtube.com/embed/${itemUrl02}?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0"></iframe></div>
        </li>
        `;
    });
    musicList.html(tempHtml);

    // $("#musicItem").on("click", function () {
    //   // $(this).addClass("open").siblings().removeClass("open");
    //   $(this).toggleClass("open");
    // });

    // $(".musicItem .detailVideo").on("click", function () {
    //   // $(this).addClass("open").siblings().removeClass("open");
    //   console.log("wowowowowowowo");
    //   $(".musicItem").removeClass("open");
    // });
    // $(".detailVideo").on("click", function () {
    //   // console.log("kowkwokwokwo");

    // });
  });
</script>

<%- include("include/footer");%>
