<%- include("include/header");%>

<main id="main">
  <div id="contents">
    <h2 class="title"><%= title %></h2>
    <div class="insertBtn randomBtn">
      <a href="/musicList"><span class="material-icons"> shuffle </span>RANDOM</a>
    </div>

    <ul class="musicList"></ul>
  </div>
</main>
<script>
  const musicList = $("#contents .musicList");

  let randomNum = Math.floor(Math.random() * (11 - 1) + 1);
  // ===============랜덤페이지=============

  const randomData = ["citypop", "시티팝", "일본 시티팝", "한국 시티팝"];
  function randomValueFromArray(array) {
    const random = Math.floor(Math.random() * array.length);
    return array[random];
  }
  let randomSearch = randomValueFromArray(randomData);
  // ===============랜덤검색어=============

  $.ajax({
    url: "https://dapi.kakao.com/v2/search/vclip",
    headers: {
      Authorization: "KakaoAK 1124f949dc2e28f83bf07baca1342758",
    },
    data: {
      type: "get",
      size: 20,
      query: randomSearch,
      page: randomNum,
    },
  }).done(function (response) {
    console.log(randomSearch);
    console.log(randomNum);
    const searchItem = response.documents;
    let tempHtml = "";
    $.each(searchItem, function (idx, item) {
      const date = dayjs(item.datetime, "YYYY-MM-dd");
      // --------------날짜 디스플레이변경
      const totalSeconds = item.play_time;
      const seconds = totalSeconds % 60;
      const mins = Math.floor(totalSeconds / 60) % 60;
      const hours = Math.floor(totalSeconds / 60 / 60) % 24;
      const dateHours = hours < 10 ? "0" + hours : hours;
      const dateMins = mins < 10 ? "0" + mins : mins;
      const dateSeconds = seconds < 10 ? "0" + seconds : seconds;
      // -----------재생시간 디스플레이 변경

      const itemUrl = item.url;
      const itemUrl02 = itemUrl.replace("http://www.youtube.com/watch?v=", "");

      tempHtml += `<li class="musicItem">
          <a href="">
            <div class="img"><img src=" https://img.youtube.com/vi/${itemUrl02}/mqdefault.jpg" alt="thumbnail"/>
              <p class="playTime">${dateHours}:${dateMins}:${dateSeconds}</p></div>
              <div class="txtBox">
              <div class="musicTitle">${item.title}</div>
              <p class="dateTime">${date.format("YYYY / MM / DD")}</p>
                </div>
          </a>
          <div class="detailVideo" >
            <span class="videoClose">이 창을 닫으시려면 검은배경을 눌러주세요.</span>
            <iframe class="video" src="http://www.youtube.com/embed/${itemUrl02}?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0"></iframe>;
           </div>
        </li>
        `;
    });
    musicList.html(tempHtml);
    $(".musicItem").on("click", function () {
      const currentVideoBox = $(this).find(".detailVideo");
      currentVideoBox.toggleClass("open");
      const currentVideo = $(this).find(".video");
      currentVideoBox.append(currentVideo);
      if (!$(".detailVideo").hasClass("open")) {
        $(".detailVideo:empty").empty();
      }
    });
  });
</script>

<%- include("include/footer");%>
