<%- include("include/header"); %>

<main id="main">
  <div id="contents">
    <h2 class="title"><%= title %></h2>
    <div class="insertBtn randomBtn">
      <a href="/randomImage"><span class="material-icons"> shuffle </span>RANDOM</a>
    </div>

    <!-- <nav id="filter">
      <h2 class="blind">filtering menu</h2>
      <ul class="filterList">
        <li class="on" data-filter="item">ALL</li>
        <li data-filter="네이버블로그">NAVERBLOG</li>
        <li data-filter="티스토리">TSTORY</li>
      </ul>
    </nav> -->
    <ul class="blogList randomImageList"></ul>
  </div>
</main>
<script>
  const itemList = $("#contents .blogList");
  // const filterList = $("#filter li");
  let grid = null;
  let randomNum = Math.floor(Math.random() * (11 - 1) + 1);
  // ===============랜덤페이지=============

  const randomData = ["시티팝 애니메이션", "시티팝 배경화면", "시티팝 일러스트"];
  function randomValueFromArray(array) {
    const random = Math.floor(Math.random() * array.length);
    return array[random];
  }
  let randomSearch = randomValueFromArray(randomData);
  // ===============랜덤검색어=============

  $.ajax({
    url: "https://dapi.kakao.com/v2/search/image",
    headers: {
      Authorization: "KakaoAK 1124f949dc2e28f83bf07baca1342758",
    },
    data: {
      type: "get",
      size: 50,
      query: randomSearch,
      page: randomNum,
    },
  }).done(function (response) {
    console.log(response);
    // console.log(randomSearch);
    // console.log(randomNum);
    const searchItem = response.documents;
    let tempHtml = "";
    $.each(searchItem, function (idx, item) {
      tempHtml += `<li class="item randomImage">
          <a href="${item.image_url}" data-fancybox="${item.collection}" >
            <div class="img">
              <img src="${item.image_url}" alt="thumbnail"/>
              </div>
          
          </a>
        </li>
        `;
    });

    itemList.html(tempHtml);
    itemList.imagesLoaded().progress(function (instance, image) {});
    itemList.imagesLoaded().always(function () {
      grid = itemList.isotope({
        itemSelector: ".item",
        percentPosition: true,
        layoutMode: "masonry",
      });
    });
  });
</script>

<%- include("include/footer");%>
