.subContents {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px 0;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.pagination ul {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
.pagination a {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px;
  color: #111;
}
.pagination a.first {
  background-color: #111;
}
.pagination a.first:before {
  color: #fff;
  content: "keyboard_double_arrow_left";
  font-family: "Material Icons";
  display: inline-block;
  margin-left: 0;
}
.pagination a.prev {
  background-color: #111;
}
.pagination a.prev:before {
  color: #fff;
  content: "chevron_left";
  font-family: "Material Icons";
  display: inline-block;
  margin-left: 0;
}
.pagination a.last {
  background-color: #111;
}
.pagination a.last:before {
  color: #fff;
  content: "keyboard_double_arrow_right";
  font-family: "Material Icons";
  display: inline-block;
  margin-left: 0;
}
.pagination a.next {
  background-color: #111;
}
.pagination a.next:before {
  color: #fff;
  content: "chevron_right";
  font-family: "Material Icons";
  display: inline-block;
  margin-left: 0;
}
.pagination a.active {
  background-color: #f16f89;
  color: #fff;
}

.searchForm {
  display: flex;
  justify-content: center;
}
.searchForm #searchTxt {
  height: 30px;
  padding: 0 10px;
  margin-right: 5px;
  border: 1px solid #999;
}
.searchForm #searchCategory {
  border: 1px solid #999;
  margin-right: 5px;
}
.searchForm button {
  background-color: #111;
  color: #fff;
}

.board {
  color: #333;
}
.board .table {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-top: 2px solid #333;
  border-bottom: 5px solid #ccc;
}
.board .table .thead {
  display: table-header-group;
  background-color: #f8f8f8;
  font-weight: 500;
  border-bottom: 2px solid #333;
}
.board .table .thead .boardTitle {
  margin-bottom: 10px;
}
.board .table .tbody {
  display: table-row-group;
  width: 100%;
}
.board .table .tbody .row {
  display: table-row;
}
.board .table .tbody .row .title {
  text-align: left;
}
.board .table .column {
  display: table-cell;
  padding: 20px 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.board .table.list .tbody .row {
  transition: all 0.15s ease;
}
.board .table.list .tbody .row:nth-child(2n) {
  background-color: #f8f8f8;
}
.board .table.list .tbody .row:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.board .table.view {
  width: 90%;
  margin: 0 auto;
}
.board .table.view .thead {
  display: block;
  padding: 20px;
}
.board .table.view .thead dl {
  display: flex;
  justify-content: flex-end;
}
.board .table.view .thead dl dt {
  margin-left: 30px;
  margin-right: 10px;
}
.board .table.view .thead dl dt:nth-child(1) {
  margin-left: 0;
}
.board .table.view .tbody {
  display: block;
}
.board .table.view .tbody .contents {
  padding: 20px;
  line-height: 1.5;
}
.board .table .fileBox {
  width: 100%;
  display: flex;
  margin-right: 20px;
}
.board .table .fileBox label {
  width: 100px;
  height: 40px;
  background-color: #bf0c14;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.board .table .fileBox input[type=file] {
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: none;
}
.board .table .fileBox input[type=text] {
  height: 40px;
  width: calc(100% - 110px);
  border: 1px solid #ccc;
  padding: 0 15px;
  box-sizing: border-box;
}
.board .btns {
  margin-top: 50px;
}

@media all and (max-width: 1200px) {
  .board {
    padding: 0 50px;
  }
  .searchForm {
    margin: 0 50px;
    padding: clamp(20px, 6.6vw, 80px) clamp(20px, 12.5vw, 150px);
  }
  .searchForm button {
    min-width: 50px;
  }
}
@media all and (max-width: 640px) {
  .board {
    padding: 0 20px;
  }
  .board .table .thead {
    display: none;
  }
  .board .table .tbody .row {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 20px 10px;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .board .table .column {
    display: block;
    font-size: clamp(12px, 2.5vw, 16px);
    border-bottom: none;
    padding: 0;
    margin-right: 15px;
    box-sizing: border-box;
  }
  .board .table .column:before {
    content: attr(data-label);
    display: inline-block;
    margin-right: 5px;
  }
  .board .table .column.title {
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .board .table .column.title:before {
    display: none;
  }
  .board .table .column.no {
    display: none;
  }
  .board .table.view .thead {
    padding: 20px clamp(10px, 3vw, 20px);
  }
  .board .table.view .thead .title {
    font-size: clamp(16px, 3vw, 18px);
    margin-bottom: 10px;
  }
  .board .table.view .thead dl {
    font-size: clamp(12px, 2.5vw, 16px);
  }
  .board .table.view .tbody .contents {
    padding: 20px clamp(10px, 3vw, 20px);
    font-size: clamp(12px, 3vw, 16px);
  }
  .board .table.write .tbody .row {
    padding: clamp(10px, 3vw, 20px) 0;
  }
  .board .table.write .tbody .row .column {
    width: 100%;
  }
  .board .table.write .tbody .row .column.th {
    text-align: left;
  }
  .searchForm {
    margin: 0;
  }
  .pagination a {
    width: 30px;
    height: 30px;
  }
  .pagination ul .hide {
    display: none;
  }
}